.align {
    display: flex;
 
    align-items: baseline;
  }
  
 

  .adress {
    font-style: normal;

    &__footer {
      display: inline-block;
      margin-top: 20px;
    }
   
    &--size {
      margin-bottom: 9px;
   
    }
   
    &--size:last-child {
      margin-bottom: 0;
   
    }
   
    &--str {
      display: inline-block;
   
      font-weight: 400;
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.03em;
   
      color: var(--background-main);
   
      transition-property: color;
      transition-duration: var(--time);
      transition-timing-function: var(--cub);
    }
   
    &--str:hover,
    &--str:focus {
      color: var(--blue);
    }
  }
 
  .footer__mail {
    display: inline-block;
 
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
 
    color: rgba(255, 255, 255, 0.6);
 
    transition-property: color;
    transition-duration: var(--time);
    transition-timing-function: var(--cub);

    &:hover,
    &:focus {
      color: var(--blue);
    }
 
  }

  .lincs-futer {
    margin-left: 70px;

    &__social {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      margin-left: 0;
   
    }
  }

  .subsckribe {
    box-sizing: content-box;

    &--position {
      margin-left: auto;
    }
   
   
    &__form {
   
      display: flex;
      gap: 10px;
      margin-top: 20px;
    }
   
    &__input {
   
      height: 50px;
      width: 358px;
      padding: 5px 16px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: #2F303A;
      color: var(--background-main)
    }
   
 
  }
 
