.partners {
    display: flex;
    justify-content: center;
    gap: 30px;

    &__box:hover {
      border: var(--blue) 1px solid;
    }
   
    &__box:hover &__size {
      fill: var(--blue);
   
    }
   
    &__box:focus {
      border: var(--blue) 1px solid;
    }
   
    &__box:focus &__size {
      fill: var(--blue);
   
    }
  }

  .partners__size {
    height: 60px;
    width: 106px;
    fill: var(--logo-color);
   
    transition-property: fill;
    transition-duration: var(--time);
    transition-timing-function: var(--cub);
   
  }

.partners__box {
  height: 92px;
  width: 170px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--logo-color) 1px solid;
  border-radius: 4px;
 
  transition-property: border;
  transition-duration: var(--time);
  transition-timing-function: var(--cub);
 
}

 
