.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.advantages-block {
  padding-top: 94px;
  
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-hero);
}
section {
  padding-top: 94px;
  padding-bottom: 94px; 
}
